@charset "UTF-8";

body {
    background-color: rgb(211, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: maroon;
    background-color: rgb(136, 102, 17);
}

h2 {
    color: darkred;
    kf
}

p {
    text-align: justify;
}